.sass-cache
.tmp
/node_modules
PROD.jpt
git.sh
index.html
globeproject.sublime-workspace
data/stateparks.html
data/stateparks_files
data/downloaded
data/output
illustrator/stateparks.ai
parts/globe
graphics/map/js/templates/templates.js
